///* ========================================================================
//   #HR
//   ======================================================================== */

hr{ 
    border-style: solid;
    border-color: $color-gray-lt;
    border-bottom:0;
  }